<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    {{>header}}
    <div class="main-content">
        <img src="./img/0.jpeg" alt="">
        <p>This website is created for learing purposes. It works using the 
            <a href="https://openweathermap.org/">https://openweathermap.org</a> and <a href="https://www.mapbox.com/">
            https://www.mapbox.com</a> APIs.   
        </p>
    </div>

    {{>footer}}
</body>

</html>