<header>
    <h1>{{title}}</h1>

    <div class="nav">
        <a class='link' href="/">weather</a>
        <a class='link' href="/about">about</a>
        <a class='link' href="/help">help</a>
    </div>

</header>